PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/embroidery_db
JWT_SECRET=your_super_secret_access_jwt_key_here
JWT_REFRESH_SECRET=your_super_secret_refresh_jwt_key_here
JWT_ACCESS_EXPIRE=1d
JWT_REFRESH_EXPIRE=7d
email_password=uepl nozg zdrc pgbh
